/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

.banner{
  background-image:url(https://cdn.glitch.com/a5d2dff2-8ec6-4a00-bfe8-a887940ada9d%2Fjanko-ferlic-sfL_QOnmy00-unsplash.jpg?v=1597301579888);
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
  .QuizName{
  color: #373fff;
  font-family: 'Rubik', sans-serif;
    position:absolute;
    top:20%;
    left:1%;
  background-color:white;
}

h2 {
  font-family: 'Rubik', sans-serif;
  margin-top: 2em; 
}

.question {
  display: flex;
    justify-content:space-around;
    align-items: center;
  margin-top: 2em;
  background-color:#FDEBD0;
  height: 15em
}
  
.answer-choice img {
  display:flex;
  height: 10em;
}

.result {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

#q1a1 {background-color:#F7DC6F;}
#q1a2 {background-color:#F7DC6F;}
#q1a3 {background-color:#F7DC6F;}
#q1a4 {background-color:#F7DC6F;}

#q2a1 {background-color:#F7DC6F;}
#q2a2 {background-color:#F7DC6F;}
#q2a3 {background-color:#F7DC6F;}
#q2a4 {background-color:#F7DC6F;}

#q3a1 {background-color:#F7DC6F;}
#q3a2 {background-color:#F7DC6F;}
#q3a3 {background-color:#F7DC6F;}
#q3a4 {background-color:#F7DC6F;}

#q4a1 {background-color:#F7DC6F;}
#q4a2 {background-color:#F7DC6F;}
#q4a3 {background-color:#F7DC6F;}
#q4a4 {background-color:#F7DC6F;}

#retake {background-color:#F1C40F;}

button {
  border-radius:5%;
}