/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

.banner{
  background-image:url(https://cdn.glitch.com/a5d2dff2-8ec6-4a00-bfe8-a887940ada9d%2Fbernard-hermant-wGYyOGDFfMI-unsplash.jpg?v=1597257363654);
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
  .QuizName{
  color: #373fff;
  font-family: 'Rubik', sans-serif;
    position:absolute;
    top:20%;
    left:1%;
    bottom:20%;
}

h2 {
  font-family: 'Rubik', sans-serif;
  margin-top: 2em; 
}

.question {
  display: flex;
    justify-content:space-around;
  margin-top: 2em;
}
  
.answer-choice img {
  display:flex;
  height: 10em;
}
